<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Profile</title>
</head>
<body>
    <h1>Company's Profile</h1>
    <form method="POST" action="{{ url_for('main.company_setup') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h3>Company Details</h3>
        <label>{{ form.company_name.label }}</label>
        {{ form.company_name(size=30) }}<br>
        <label>{{ form.industry_type.label }}</label>
        {{ form.industry_type(size=30) }}<br>
        <label>{{ form.num_employees.label }}</label>
        {{ form.num_employees(size=30) }}<br>

        <h3>Address</h3>
        <label>{{ form.street.label }}</label>
        {{ form.street(size=30) }}<br>
        <label>{{ form.city.label }}</label>
        {{ form.city(size=30) }}<br>
        <label>{{ form.province.label }}</label>
        {{ form.province(size=30) }}<br>
        <label>{{ form.postal_code.label }}</label>
        {{ form.postal_code(size=30) }}<br>
        <label>{{ form.phone.label }}</label>
        {{ form.phone(size=30) }}<br>
        <label>{{ form.email.label }}</label>
        {{ form.email(size=30) }}<br>
        <label>{{ form.website.label }}</label>
        {{ form.website(size=30) }}<br>

        <h3>Upload Employee Data</h3>
        <label>{{ form.employee_data.label }}</label>
        {{ form.employee_data() }}<br>

        {{ form.submit() }}
    </form>
</body>
</html>
