<!DOCTYPE html>
<html>
<head>
    <title>FairLens - Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Login</button>
    </form>
    <form action="/signup">
        <button type="submit" style="margin-top: 20px;">Create new Account</button>
    </form>
</body>
</html>
